@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Poppins:wght@600&display=swap');

body {
  background-color: white;
  // font-family: 'Poppins', sans-serif;
  font-family: 'DM Sans', sans-serif;
  height: auto;
  padding: 0;
  margin: 0;

  button {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1px;
    border-radius: 10px;
    background-color: rgb(50, 44, 37);
    color: whitesmoke;
  }

  button:hover {
    border: 1px solid;
    background-color: whitesmoke;
    color: rgb(50, 44, 37);
  }

  .hero_header {
    text-align: center;
    font-size: 4rem;

    i {
      font-size: 4rem;
      color: rgb(158, 141, 51);
    }

    h1 {
      color: rgb(158, 141, 51);
      font-size: 4rem;
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  h6 {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  i {

    margin: 0;
    padding: 0;

  }

  img {
    width: 100%;
  }

  .ldc {
    color: rgb(50, 44, 37);

    &_nav {
      background-color: rgb(236, 215, 122);
      position: sticky;
      top: 0;
      bottom: 0;
      padding-inline: 4rem;
      padding-block: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa-person {
        position: absolute;
        z-index: 4;
        top: 2.1rem;
        right: 6rem;
      }

      .fa-shopping-cart {
        position: absolute;
        z-index: 4;
        top: 2.1rem;
        right: 3.5rem;

        &.hide {
          display: none;
        }
      }

      .x {
        position: absolute;
        z-index: 4;
        display: none;
        top: 2.1rem;
        right: 3.5rem;

        &.show {
          display: block;
        }
      }

      &_cart_preview {
        background-color: rgb(236, 215, 122);
        position: absolute;
        z-index: 2;
        right: 0;
        padding-inline: 2rem;
        top: 0;
        overflow: visible;
        display: none;

        &.show {
          display: block;
        }

        &_product {
          padding-block: 4rem;

          &_product1 {
            display: none;
            background-color: white;
            padding-inline: 1rem;
            margin-block: 1rem;

            &.show {
              display: block;
            }
          }

          &_product2 {
            padding-inline: 1rem;
            display: none;
            background-color: white;

            &.show {
              display: block;
            }
          }

          &_product3 {
            display: none;
            background-color: white;

            &.show {
              display: block;
            }
          }

          &_product4 {
            display: none;
            background-color: white;

            &.show {
              display: block;
            }
          }

          &_product5 {
            display: none;
            background-color: white;

            &.show {
              display: block;
            }
          }

          &_product6 {
            display: none;
            background-color: white;

            &.show {
              display: block;
            }
          }
        }
      }

      &_right {
        &_inner {
          display: flex;
          align-items: center;
          gap: 2rem;

          i {}
        }
      }

      &_medi {
        &_logo {
          gap: 0.5rem;

          &_top {
            text-align: center;

            i {
              font-size: 2rem;
              padding: 0;
              color: rgb(158, 141, 51);
            }

          }

          &_bottom {
            font-size: 0.5rem;

            h1 {
              font-weight: normal;
              text-transform: uppercase;
            }
          }
        }
      }

      @media screen and (min-width:992px) {
        &_right {

          &_logo {
            &_top {}

            &_bottom {}
          }
        }
      }

      &_menu {
        @media screen and (min-width:992px) {
          display: block;
        }

        cursor: pointer;

        .fa-bars {
          position: absolute;
          z-index: 2;

          &.hide {
            display: none;
          }
        }

        .fa-x {
          display: none;
          position: absolute;
          z-index: 2;
          background-color: rgb(158, 141, 51);
          padding-inline: 0.5rem;
          padding-block: 0.25rem;

          &.show {
            display: block;
          }
        }
      }

      &_inner {
        height: 100vh;
        width: 0;    
        position: absolute;
        display: none;
        left: 0;
        bottom: 0;
        right: 100%;
        top: 0;
        transition: all 0.5s ease-in;
        background-color: black;


        &.show {
          width: 50%;
          right: 0;
          display: block;
          transition: all 0.5s ease-in;
        }

        @media screen and (min-width:992px) {
          &.show {
            transition: all 0.5s ease-in;
            width: 25%;
            right: 0;
            display: block;
          }
        }

        &_inner {
          padding-block-start: 2rem;

          ul {
            margin: 0;
            padding: 0;
            padding-block-start: 4rem;

            a {
              color: rgb(50, 44, 37);
            }

            .home,
            .forms,
            .obi,
            .ourrole,
            .testimonies,
            .pricing,
            .contact {
              padding-block: 2rem;
              text-transform: uppercase;
              padding-inline-start: 4rem;
              color: rgb(158, 141, 51);

              &.active {
                background-color: rgb(50, 44, 37);
                color: whitesmoke;
              }
            }
          }
        }

        // @media screen and (min-width: 992px) {

        //   ul {
        //     margin: 0;
        //     display: flex;
        //     align-items: center;
        //     gap: 1rem;

        //     li {
        //       padding: 0;
        //       margin: 0;
        //     }

        //     .home,
        //     .forms,
        //     .obi,
        //     .ourrole,
        //     .testimonies,
        //     .pricing,
        //     .contact {
        //       padding-block: 0.2rem;
        //       padding-inline: 0.5rem;

        //     }

        //   }

        //   gap: 2rem;
        //   display: flex;
        //   align-items: center;
        // }
      }
    }

    footer {
      background-color: rgb(50, 44, 37);
      text-align: left;
      font-size: 0.6rem;
      padding-block: 2rem;
      padding-inline: 1.8rem;
      color: whitesmoke;
      margin-bottom: 0;

      p {
        padding: 0;
      }
    }
  }
}