.ldc {

    &_pricing {
        button {
            display: none;
        }

        &_hero {
            background-image: url("/images/bgi.jpg");
            padding-block: 10rem;
            background-position: center;
            background-size: cover;
            color: rgb(158, 141, 51);

            h1 {
                color: rgb(158, 141, 51);
            }
        }

        h1 {
            color: rgb(158, 141, 51);
            font-size: 2rem;
            font-weight: 600;
        }

        h1 {}

        &_inner {
            padding-block: 1rem;
            padding-inline: 4rem;
            text-align: center;

            &_header {
                h1 {
                    color: rgb(158, 141, 51);
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: left;
                }
            }

            h1 {
                font-size: 1rem;
            }

            p {
                line-height: 2rem;
            }

            &_product {
                display: grid;
                @media screen and (min-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                gap: 5rem;

                &_product1 {
                    background-color: whitesmoke;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-block: 2rem;

                    &_price {
                        h1 {
                            font-size: 0.8rem;
                        }
                    }

                    &_image {
                        width: 5rem;
                        padding-block-end: 1rem;
                        img {
                            border-radius: 20px;
                        }
                    }
                }
            }
        }


    }
}